/*旅行首页css 2017年6月12日13:32:07*/
.w345 {width:90%;margin: 0 auto;}
.fl {float: left;}
.fr {float: right;}
a {text-decoration: none;}
.header,.h_top {background: none;}
.goback {background:url('../img/go_back_white.png') no-repeat 0.75rem center;-webkit-background-size: 0.45rem 0.85rem;background-size: 0.45rem 0.85rem;}
/*banner*/
.index_wrap {width: 100%;background: #FFFFFF;}
.index_wrap .banner  {width: 100%;height: 10.9rem;overflow: hidden;}
.swiper-container {width: 100%;}
.swiper-container .swiper-slide {height: 10.9rem;overflow: hidden;}
.swiper-container .swiper-slide img {width: 100%;}
.swiper-pagination{left: 0; bottom: 0.5rem; right: 0;  }
.swiper-pagination-bullet {background:rgba(255,255,255,50);width: 0.3rem;height: 0.25rem;border-radius: 0.15rem;margin-right: 0.3rem;}
.swiper-pagination-bullet-active {background: #FFFFFF;width: 0.75rem;}
/*分类*/
.glass_index_box {overflow: hidden;}
.glass_index {padding: 1.25rem 0 0.3rem;width: 20rem;}
.glass_index>li {float: left;font-size: 0.55rem;color: #333333;text-align: left;width: 2.5rem;margin-left: 0.5rem;margin-right: 1.45rem;}
.glass_index>li>.icon {display: block;margin: 0 auto 0.25rem;display: block;}
.glass_index>li>.icon_theme {background: url(../img/i_theme.png) no-repeat;width:1.3rem;height: 1.1rem;background-size: contain;}
.glass_index>li>.icon_activity {width:0.95rem;height: 1.1rem;background: url(../img/i_activity.png) no-repeat;background-size: contain;}
.glass_index>li>.icon_note {width:0.925rem;height: 1.1rem;background: url(../img/i_note.png) no-repeat;background-size: contain;}
.glass_index>li>.icon_impression {width:1rem;height: 1.1rem;background: url(../img/i_impression.png) no-repeat;background-size: contain;}
.glass_index>li>span:last-child {/*padding-left: 0.5rem;*/display: block;text-align: center;}
/*分类固定*/
.glass_fixed_wp {width: 100%;border-bottom: 1px solid #f5f5f5;/*height: 2.1rem;*/background: #ffffff;display: none;position: fixed;position: fixed;left: 0;top:0;right: 0;z-index: 3;}
.glass_fixed_ul {}
.glass_fixed_ul>li {font-size: 0.7rem;border-bottom: 0.125rem solid #ffffff;height: 2.05rem;line-height: 2.05rem;color: #333;text-align: center;float: left;margin-right: 1.4rem;}
.glass_fixed_ul>li.active {border-bottom: 0.125rem solid #1dbe72;color: #1dbe72;}

/*模块公共样式*/
.glass_i {position: relative;}
.glass_i>.title {height: 1.25rem;line-height: 1.25rem;margin : 1.1rem auto 0.75rem;}
.glass_i>.title>h2 {font-size:0.8rem;color: #333333;}
.glass_i>.title>.more {color: #999999;font-size: 0.6rem;margin-top: -0.1rem;}
.glass_i>.title>.more>em {font-style: normal;font-size:0.85rem;background: url("../img/index_gt.png") center right no-repeat;background-size: 0.3rem 0.5rem;display: inline-block;width: 0.3rem;height: 0.5rem;margin-left: 0.2rem;}
/*主题线路*/
.tab_theme {width:100%;overflow: hidden;}
.tab_theme_box {width: 100%;min-height:15rem;overflow: hidden;}
.swiper-container_theme {float: left;}
.tab_theme_title {height: 1.25rem;border: 0.125rem;margin: 0 auto 0.5rem;}
.tab_theme_title>li {float: left;margin-right: 1.15rem;font-size:0.6rem;color: #666666;line-height: 1.25rem;}
.tab_theme_title>li.current {border-bottom: 0.125rem solid #1dbe72;color: #1dbe72;}
.swiper-container_theme {width: 100%;overflow: hidden;/*padding-left: 15px;*/}
.swiper-container_theme .swiper-wrapper {}
.swiper-container_theme .swiper-slide {/*width: 157px !important;padding-right: 10px;*/padding-bottom: 0.3rem;}
.swiper-container_theme .swiper-slide>img {width:100%;height: 12.05rem;display: inherit;}
.swiper-container_theme .swiper-slide>.title {color: #333333;font-size: 0.7rem;line-height: 1.1rem;height: 2.2rem;overflow: hidden;/*text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;*/margin-top: 0.4rem;}
.swiper-container_theme .morethan {font-size: 0.6rem;color: #666666;/*line-height:12.05rem;*/width: 2.4rem !important;text-align: center;}
.swiper-container_theme .swiper-slide .mpt {margin-top: 0.5rem;}
.swiper-container_theme .swiper-slide .price {color:#ff4c4c;font-size: 0.7rem;text-align: right;padding-right: 0.25rem;/*margin-top: 0.25rem;*/}
.swiper-container_theme .swiper-slide .slogan {/*margin-top: 0.3rem;*/}
.swiper-container_theme .swiper-slide .slogan>li {font-size: 0.55rem;color: #999999;float: left;margin-right: 0.35rem;}
/*当地活动*/
.tab_activity {
    min-height:10rem;}
.swiper-container_act {/*padding-left: 15px;*/width: 100%;overflow: hidden;}
.swiper-container_act .swiper-slide {/*width: 244.5px !important;*/margin-right: 0.5rem;}
.swiper-container_act .swiper-slide>img{width: 12.225rem;height: 9.05rem;}
.swiper-container_act .swiper-slide>.title{color: #333333;font-size: 0.7rem;line-height: 1.4rem;height: 1.4rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.act_slogan_box {height: 1.3rem;line-height:1.3rem;overflow: hidden}
.act_slogan_box .slogan {margin-top: 0.1rem;}
.act_slogan_box .slogan>li {font-size: 0.55rem;color: #999999;margin-right: 0.35rem;float:left;line-height:1.3rem;}
.act_slogan_box .price {color:#ff4c4c;font-size: 0.7rem;text-align: right;padding-right: 0.25rem;line-height: 0.65rem;margin-top: 0.4rem;}

/*游记*/
.tab_note {}
.note_item_first {background:url("") no-repeat;height: 12.95rem;background-size: contain;
    width:17.25rem;}
.note_item_first_box {width:12.225rem;height:4.4rem;margin:0 auto;}
.note_item_box_f {width:12.225rem;height:4.4rem;background: rgba(0,0,0,0.4);margin: 0 auto;vertical-align: middle;text-align: center;margin-top: 3.75rem;display: inline-block;padding-top: 1rem;}
.note_item_box_f>p {font-size: 0.7rem;color: #ffffff;line-height: 1.4rem;height: 1.4rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.note_item_box_f .see_box {width: 100%;text-align: center; color: #fff;overflow: hidden;}
.note_item_box_f .see_box>span {display: inline-block;font-size: 0.7rem;color: #ffffff;}
.note_item_box_f .see_box>.see {background: url(../img/see_i.png) no-repeat 0 0.15rem ;background-size: 0.8rem 0.55rem;text-indent: 1rem;padding-right: 0.5rem;}
.note_item_box_f .see_box>.zan {background: url(../img/zan_i.png) no-repeat 0 1px ;background-size: 0.6rem 0.6rem;text-indent: 0.85rem;margin-left: 0.5rem;}
.note_item_box_f .see_box>em {display: inline-block;width: 1px;height: 0.5rem;background: #fff;}
/*.note_item_box_f .see_box>.line {font-size: 6px;margin:0 5px;}*/
.swiper-container_note {/*padding-left: 15px;*/margin-top: 0.5rem;width:100%;overflow: hidden;}
.swiper-container_note .swiper-wrapper {}
.swiper-container_note .swiper-slide {/*width:133.5px !important;margin-right: 10px;*/}
.swiper-container_note .swiper-slide>img {width: 100%;overflow: hidden;height:5.025rem;display: inherit;}
.swiper-container_note .swiper-slide>.title {color: #333333;font-size: 0.7rem;line-height: 1.1rem;height: 2.2rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-top: 0.4rem;}
.swiper-container_note .swiper-slide>.see_box{width: 100%;text-align: right; color: #fff;overflow: hidden;padding-right: 0.25rem;margin-top: 0.5rem;}
.swiper-container_note .swiper-slide>.see_box>span{display: inline-block;font-size: 0.7rem;color: #333;}
.swiper-container_note .swiper-slide>.see_box>.see{background: url(../img/see.png) no-repeat 0 0.15rem ;background-size: 0.8rem 0.55rem;text-indent: 1rem;margin-right: 0.5rem;}
.swiper-container_note .swiper-slide>.see_box>.zan{background: url(../img/zan.png) no-repeat 0 0.1rem ;background-size: 0.6rem 0.6rem;text-indent: 0.8rem;}

/*印象*/
.imp_item_first {
    width:17.25rem;}
.imp_item_box_f>img {width: 100%;height: 12.95rem;overflow: hidden;display: inherit;}
.imp_item_box_f>.title {color: #333333;font-size: 0.8rem;line-height: 1.4rem;height: 1.4rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;margin-top: 0.4rem;}
.imp_item_box_f>.description {font-size: 0.65rem;color: #666;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 1.05rem;height: 2.1rem;overflow: hidden;margin-top: 0.15rem;}
.imp_item_box_f>.see_box {width: 100%;text-align: right; color: #fff;overflow: hidden;padding-right: 0.25rem;margin-top: 0.15rem;}
.imp_item_box_f>.see_box>span {display: inline-block;font-size: 0.7rem;color: #555;}
.imp_item_box_f>.see_box>.see {background: url(../img/see.png) no-repeat 0 0.15rem ;background-size: 0.8rem 0.55rem;text-indent: 1rem;margin-right: 0.5rem;}
.imp_item_box_f>.see_box>.zan {background: url(../img/zan.png) no-repeat 0 0.05rem ;background-size: 0.6rem 0.6rem;text-indent: 0.8rem;}
.imp_list {margin-top: 0.8rem;}
.evy_imp_wp {margin-bottom: 0.5rem;}
.evy_imp_wp .pic_wp {width:6.675rem;height: 5.025rem;overflow: hidden;margin-right: 0.75rem; }
.evy_imp_wp .pic_wp>img {width: 100%;}
.evy_imp_wp .itm_scan_wp {width: 9.4rem;/*margin-bottom: 1rem;*/}
.evy_imp_wp .itm_scan_wp .itm_title {font-size: 0.8rem;color: #333333;line-height: 1.2rem;height: 1.2rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.evy_imp_wp .itm_scan_wp .detail {font-size: 0.65rem;color:#666;line-height: 0.95rem;height: 1.9rem;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-top: 0.2rem;letter-spacing: 0.04rem;}
.evy_imp_wp .itm_scan_wp .see_box {width: 100%;text-align: right; color: #fff;overflow: hidden;padding-right: 0.25rem;margin-top: 0.3rem;}
.evy_imp_wp .itm_scan_wp .see_box>span{display: inline-block;font-size: 0.6rem;color: #555;}
.evy_imp_wp .itm_scan_wp .see_box>.see{background: url(../img/see.png) no-repeat 0 0.15rem ;background-size: 0.8rem 0.55rem;text-indent: 1rem;margin-right: 0.5rem;}
.evy_imp_wp .itm_scan_wp .see_box>.zan{background: url(../img/zan.png) no-repeat 0 0.05rem ;background-size: 0.65rem 0.65rem;text-indent: 0.8rem;}
